In [1]:
import pandas as pd

In [105]:
temp=pd.read_excel(r'../data/processedfiles/Rain Gauge Stations Numbering.xlsx',sheet_name='Sheet4')
temp=temp.iloc[3:,:]
del temp['Unnamed: 0']
temp.columns=['station-name','district','climatic-region','koeppen-climatic-region','thornthwaite-climatic-region']
temp.to_csv(r'../data/processedfiles/station-details.csv',index=False)

In [2]:
rainfall=pd.read_csv(r'../data/processedfiles/rainfall-data-final.csv')

In [3]:
consol_rainfall=pd.read_csv(r'../data/processedfiles/consolidated-rainfall.csv')

In [4]:
station_details=pd.read_csv(r'../data/processedfiles/station-details.csv')

In [5]:
station_details[station_details.columns] = station_details.apply(lambda x: x.str.strip())
station_details[station_details.columns] = station_details.apply(lambda x: x.str.lower())

In [6]:
station_details['station-col-name']=station_details.apply(lambda x:x['station-name'].strip().lower()+'-'+x['district'].strip().lower(),axis=1 )

In [7]:
station_details.loc[station_details['station-col-name']=='gangapur city-sawai madhopur','station-col-name']='gangapur city-sawaimadhopur'
station_details.loc[station_details['station-col-name']=='choth ka brwada-sawai madhopur','station-col-name']='choth ka brwada-sawaimadhopur'
station_details.loc[station_details['station-col-name']=='malarana dungar-sawai madhopur','station-col-name']='malarana dungar-sawaimadhopur'

In [8]:
station_details.loc[station_details['station-col-name']=='pipal khunt-pratapgarh','station-col-name']='pipal khunt-partapgarh'

In [9]:
station_details[station_details['station-col-name']=='gangapur city-sawaimadhopur']['station-col-name']

228    gangapur city-sawaimadhopur
Name: station-col-name, dtype: object

In [10]:
stations=station_details.iloc[:,5]

### Current

In [11]:
rainfall_sub=pd.DataFrame({})
rainfall_sub=rainfall.iloc[:,:3]
not_found=[]
for i in stations:
    try:
        rainfall_sub[i.strip()]=rainfall[i.strip()]
    except:
        not_found.append(i.strip())

In [12]:
not_found

['jhalawar-jhalawar',
 'dug-jhalawar',
 'pirawa-jhalawar',
 'bakani-jhalawar',
 'aklera-jhalawar',
 'manoharthana-jhalawar',
 'khanpur-jhalawar',
 'jhalrapatan-jhalawar',
 'asnawar-jhalawar',
 'pachpahar-jhalawar',
 'gangdhar-jhalawar']

In [13]:
rainfall_sub

,year,day-number,date,ajmer-ajmer,arain-ajmer,beawar-ajmer,bhinai-ajmer,gegal-ajmer,goela-ajmer,jawaja-ajmer,...,gogunda-udaipur,jhadol-udaipur,kherwara-udaipur,kotra-udaipur,mavli-udaipur,salumber-udaipur,sarara-udaipur,udaipur ( girwa )-udaipur,vallabh nagar-udaipur,dhariawad-udaipur
0,1957,1,1957-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
1,1957,2,1957-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
2,1957,3,1957-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
3,1957,4,1957-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
4,1957,5,1957-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20449,2012,362,2012-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
20450,2012,363,2012-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
20451,2012,364,2012-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
20452,2012,365,2012-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0
20453,2012,366,2012-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0

In [14]:
stations=rainfall_sub.columns

In [15]:
station_details_sub=station_details[station_details['station-col-name'].isin(stations)]

In [16]:
station_details_sub.shape

(260, 6)

In [17]:
station_details_sub.head()

,station-name,district,climatic-region,koeppen-climatic-region,thornthwaite-climatic-region,station-col-name
0,ajmer,ajmer,sub humid,aw,daw,ajmer-ajmer
1,arain,ajmer,sub humid,bshw,daw,arain-ajmer
2,beawar,ajmer,sub humid,bshw,daw,beawar-ajmer
3,bhinai,ajmer,sub humid,bshw,daw,bhinai-ajmer
4,gegal,ajmer,sub humid,bshw,daw,gegal-ajmer

In [18]:
station_details[station_details['station-col-name'].duplicated()]

Empty DataFrame
Columns: [station-name, district, climatic-region, koeppen-climatic-region, thornthwaite-climatic-region, station-col-name]
Index: []

In [19]:
station_details.to_csv(r'../data/processedfiles/station-details.csv',index=False)

In [20]:
station_details_sub.to_csv(r'../data/processedfiles/station-details-sub.csv',index=False)

In [21]:
rainfall_sub.to_csv(r'../data/processedfiles/rainfall-data-final-sub.csv',index=False)